<div class="row">
    <div class="col-4">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle form-control" data-toggle="dropdown">月份</button>
            <div class="dropdown-menu" >
                <a class="dropdown-item" href="">一月</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle form-control" data-toggle="dropdown">類別</button>
            <div class="dropdown-menu" >
                <a class="dropdown-item" href="">家居物業</a>
                <a class="dropdown-item" href="">交通出行</a>
                <a class="dropdown-item" href="">休閒娛樂</a>
                <a class="dropdown-item" href="">餐飲食品</a>
                <a class="dropdown-item" href="">其他</a>
            </div>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-8">
        <div class="row">
            <div class="col mr-auto"><h5>總金額:</h5></div>
            <div class="col"><h1>6000</h1></div>
        </div>
    </div>
</div>
{{#each incomes}}
<div class="row">
    <div class="col-8">
        <div class="row" style="background-color:#d6d6d6;">
            <div class="col-auto my-auto">
                {{#ifEquals this.category "家居物業"}}
                <i class="fas fa-home fa-2x" style="color:#32ceb9;"></i>
                {{/ifEquals}}
                {{#ifEquals this.category "交通出行"}}
                <i class="fas fa-shuttle-van fa-2x" style="color:#32ceb9;"</i>
                {{/ifEquals}}
                {{#ifEquals this.category "休閒娛樂"}}
                <i class="fas fa-grin-beam fa-2x" style="color:#32ceb9;"></i>
                {{/ifEquals}}
                {{#ifEquals this.category "餐飲食品"}}
                <i class="fas fa-utensils fa-2x" style="color:#32ceb9;"></i>
                {{/ifEquals}}
                {{#ifEquals this.category "其他"}}
                <i class="fas fa-pen fa-2x" style="color:#32ceb9;"></i>
                {{/ifEquals}}
            </div>
            <div class="col-auto mr-auto">
                {{this.name}}
                <div><small>{{this.date}}</small></div> 
            </div>
            <div class="col-auto my-auto">{{this.amount}}</div>
        </div>
    </div>
    <div class="col-4 my-auto">
        <a href="/incomes/{{this.id}}/edit" class="btn btn-primary">修改</a>
        <form action="/incomes/{{this.id}}/delete?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">刪除</button>
        </form>
    </div>
</div>
{{/each}}
<div class="col-8 my-3">
    <center><a href="/incomes/new" class="btn btn-warning btn-lg" style="width: 200px">新增收入</a></center>
</div>  
