<form action="/" method="GET">
    <div class="dropdown dropdown-month">
        <input class="btn btn-sort form-control" type="month" name="monthYear" value="{{monthYear}}" onchange="this.form.submit();"> 
    </div>
    <div class="dropdown dropdown-category">
        <button class="btn btn-sort dropdown-toggle form-control" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            類別
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-submenu">
                <button type="submit" class="dropdown-item" name="balance" value="收入">收入</button>
                <div class="dropdown-menu"  aria-labelledby="dropdownMenuLink">
                    <button type="submit" class="dropdown-item" name="category" value="薪水">薪水</button>
                    <button type="submit" class="dropdown-item" name="category" value="獎金">獎金</button>
                    <button type="submit" class="dropdown-item" name="category" value="紅利">紅利</button>
                    <button type="submit" class="dropdown-item" name="category" value="其他收入">其他收入</button>
                </div>
            </div>
            <div class="dropdown-submenu">
                <button type="submit" class="dropdown-item" name="balance" value="支出">支出</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button class="dropdown-item" type="submit" name="category" value="家居物業">家居物業</button>
                    <button class="dropdown-item" type="submit" name="category" value="交通出行">交通出行</button>
                    <button class="dropdown-item" type="submit" name="category" value="休閒娛樂">休閒娛樂</button>
                    <button class="dropdown-item" type="submit" name="category" value="餐飲食品">餐飲食品</button>
                    <button class="dropdown-item" type="submit" name="category" value="其他支出">其他支出</button>
                </div>
            </div>
        </div>  
    </div>
</form>

<ul class="list-group mb-4">
    <li class="list-group-item">
      <div class="row mt-3">
        <div class="col font-title">收入<p class="font-deposit">${{depositAmount}}</p></div>
        <div class="col font-title">支出<p class="font-deduct">${{deductAmount}}</p></div>
        <div class="col font-title">總金額<p class="font-total">${{totalAmount}}</p></div>
    </div>
    </li>
</ul>


{{#each endRecord}}
<table class="table">
    <thead>
        <tr>{{@key}}</tr>
    </thead>
    {{#each this}}
    <tbody>
        <tr id="records">
        <td>
            {{#ifEquals this.category "薪水"}}
            <i class="fas fa-money-check-alt fa-2x icon-deposit"></i>
            {{/ifEquals}}
            {{#ifEquals this.category "獎金"}}
            <i class="fa fa-envelope-o fa-2x icon-deposit"></i>
            {{/ifEquals}}
            {{#ifEquals this.category "紅利"}}
            <i class="fas fa-gift fa-2x icon-deposit"></i>
            {{/ifEquals}}
            {{#ifEquals this.category "其他收入"}}
            <i class="fas fa-pen fa-2x icon-deposit"></i>
            {{/ifEquals}}
            {{#ifEquals this.category "家居物業"}}
            <i class="fas fa-home fa-2x icon-deduct"></i>
            {{/ifEquals}}
            {{#ifEquals this.category "交通出行"}}
            <i class="fas fa-shuttle-van fa-2x icon-deduct"></i>
            {{/ifEquals}}
            {{#ifEquals this.category "休閒娛樂"}}
            <i class="fas fa-grin-beam fa-2x icon-deduct"></i>
            {{/ifEquals}}
            {{#ifEquals this.category "餐飲食品"}}
            <i class="fas fa-utensils fa-2x icon-deduct"></i>
            {{/ifEquals}}
            {{#ifEquals this.category "其他支出"}}
            <i class="fas fa-pen fa-2x icon-deduct"></i>
            {{/ifEquals}}
        </td>
        <td>{{this.name}}</td>
        
        <td>
            {{#ifEquals this.balance "收入"}}
            <p class="font-deposit">${{../this.amount}}</p>
            {{/ifEquals}}
            {{#ifEquals this.balance "支出"}}
            <p class="font-deduct">${{../this.amount}}</p>
            {{/ifEquals}}
        </td>
        <td>
            <a href="/records/{{this.id}}/edit" class="btn btn-primary">修改</a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#d{{this.id}}">
                刪除
            </button>
        </td>        
        </tr>

        {{!-- pop up delete message --}}
        {{> alert}}

    </tbody>
    {{/each}}
</table>
{{/each}}



<div class="add-circle">
    <a href="/records/new">
        <button class="rounded-pill btn btn-warning btn-lg">
            <i class="fas fa-plus" style="color: white;"></i>
        </button>
    </a>
</div>

