<div class="row">
    <div class="dropdown col-4">
        <form action="/" method="GET">
            <button class="btn btn-outline-dark dropdown-toggle form-control"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                月份
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {{#each month}}
                <button type="submit" class="dropdown-item" name="month" value="{{this}}">{{this}}月</button>
                {{/each}}
            </div>
        </form>
    </div>
    <div class="dropdown col-4">
        <form action="/" method="GET">
            <button class="btn btn-outline-dark dropdown-toggle form-control" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                類別
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-submenu">
                    <button type="submit" class="dropdown-item" name="balance" value="deposit">收入</button>
                    <div class="dropdown-menu"  aria-labelledby="dropdownMenuLink">
                        <button type="submit" class="dropdown-item" name="category" value="薪水">薪水</button>
                        <button type="submit" class="dropdown-item" name="category" value="獎金">獎金</button>
                        <button type="submit" class="dropdown-item" name="category" value="紅利">紅利</button>
                        <button type="submit" class="dropdown-item" name="category" value="其他">其他</button>
                    </div>
                </div>
                <div class="dropdown-submenu">
                    <button type="submit" class="dropdown-item" name="balance" value="deduct">支出</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <button class="dropdown-item" type="submit" name="category" value="家居物業">家居物業</button>
                        <button class="dropdown-item" type="submit" name="category" value="交通出行">交通出行</button>
                        <button class="dropdown-item" type="submit" name="category" value="休閒娛樂">休閒娛樂</button>
                        <button class="dropdown-item" type="submit" name="category" value="餐飲食品">餐飲食品</button>
                        <button class="dropdown-item" type="submit" name="category" value="其他">其他</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<ul class="list-group mb-4">
    <li class="list-group-item">
      <div class="row mt-3">
        <div class="col"><font size="5">收入</font><p style="color: blue; font-size: 20px">${{depositAmount}}</p></div>
        <div class="col"><font size="5">支出</font><p size="6" style="color: red; font-size: 20px">${{deductAmount}}</p></div>
        <div class="col"><font size="5">總金額</font><p size="6" style="color: black; font-size: 20px">${{totalAmount}}</p></div>
    </div>
    </li>
</ul>

{{#each records}}
{{#ifEquals this.balance "deposit"}}
    <table class="table">
    <thead>
        <tr>{{../this.date}}</tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">
            {{#ifEquals ../this.category "薪水"}}
            <i class="fas fa-money-check-alt fa-2x" style="color:#32ceb9;"></i>
            {{/ifEquals}}
            {{#ifEquals ../this.category "獎金"}}
            <i class="fa fa-envelope-o fa-2x" style="color:#32ceb9;"></i>
            {{/ifEquals}}
            {{#ifEquals ../this.category "紅利"}}
            <i class="fas fa-gift fa-2x" style="color:#32ceb9;"></i>
            {{/ifEquals}}
            {{#ifEquals ../this.category "其他"}}
            <i class="fas fa-pen fa-2x" style="color:#32ceb9;"></i>
            {{/ifEquals}}
        </th>
        <td>{{../this.name}}</td>
        <td>
            <p style="color: blue;">${{../this.amount}}</p>
        </td>
        <td>
            <a href="/records/{{../this.id}}/editDeposit" class="btn btn-primary">修改</a>
            <form action="/records/{{../this.id}}/delete?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">刪除</button>
            </form>
        </td>
        </tr>
    </tbody>
    </table>
{{/ifEquals}}

{{#ifEquals this.balance "deduct"}}
    <table class="table">
    <thead>
        <tr>{{../this.date}}</tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">
            {{#ifEquals ../this.category "家居物業"}}
            <i class="fas fa-home fa-2x" style="color:#e08840;"></i>
            {{/ifEquals}}
            {{#ifEquals ../this.category "交通出行"}}
            <i class="fas fa-shuttle-van fa-2x" style="color:#e08840;"></i>
            {{/ifEquals}}
            {{#ifEquals ../this.category "休閒娛樂"}}
            <i class="fas fa-grin-beam fa-2x" style="color:#e08840;"></i>
            {{/ifEquals}}
            {{#ifEquals ../this.category "餐飲食品"}}
            <i class="fas fa-utensils fa-2x" style="color:#e08840;"></i>
            {{/ifEquals}}
            {{#ifEquals ../this.category "其他"}}
            <i class="fas fa-pen fa-2x" style="color:#e08840;"></i>
            {{/ifEquals}}
        </th>
        <td>{{../this.name}}</td>
        <td>
            <p style="color: red;">${{../this.amount}}</p>
        </td>
        <td>
            <a href="/records/{{../this.id}}/editDeduct" class="btn btn-primary">修改</a>
            <form action="/records/{{../this.id}}/delete?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">刪除</button>
            </form>
        </td>
        </tr>
    </tbody>
    </table>
{{/ifEquals}}
{{/each}}

<div class="add-circle">
    <a href="/records/newDeduct">
        <button class="rounded-pill btn btn-warning btn-lg">
            <i class="fas fa-plus" style="color: white;"></i>
        </button>
    </a>
</div>
