<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="balance-btn">
  {{#if deposit}}
  <center>
      <div class="month-btn">
        <form action="/pieChart/deposit" method="GET">
          <input class="btn btn-sort" type="month" name="monthYear" value="{{monthYear}}" onchange="this.form.submit();">
        </form>
      </div>
      <a href="/pieChart/deposit?monthYear={{monthYear}}" type="button" class="btn deposit-checked" name="balance" value="deposit">收入 ${{depositAmount}}</a>
      <a href="/pieChart/deduct?monthYear={{monthYear}}" type="button" class="btn deduct-unchecked" name="balance" value="deduct">支出 ${{deductAmount}}</a>
  </center>
  {{/if}}
  {{#if deduct}}
  <center>
      <div class="month-btn">
        <form action="/pieChart/deduct" method="GET">
            <input class="btn btn-sort" type="month" name="monthYear" value="{{monthYear}}" onchange="this.form.submit();">
        </form>
      </div>
      <a href="/pieChart/deposit?monthYear={{monthYear}}" type="button" class="btn deposit-unchecked" name="balance" value="deposit">收入 ${{depositAmount}}</a>
      <a href="/pieChart/deduct?monthYear={{monthYear}}" type="button" class="btn deduct-checked" name="balance" value="deduct">支出 ${{deductAmount}}</a>
  </center>
  {{/if}}
</div>

<div class="chart-container">
  <canvas id="myChart"></canvas>
</div>

<div class="list">
  <ul id="records">
  {{#each endRecord}}
    <li class="list-group-item">
      <div class="block-color" style=" background-color:
      {{#ifEquals this.category "薪水"}}#E000E0{{/ifEquals}}
      {{#ifEquals this.category "獎金"}}#26FFFF{{/ifEquals}}
      {{#ifEquals this.category "紅利"}}#CCCCFF{{/ifEquals}}
      {{#ifEquals this.category "其他收入"}}#1C1CFF{{/ifEquals}}
      {{#ifEquals this.category "家居物業"}}#FF8282{{/ifEquals}}
      {{#ifEquals this.category "交通出行"}}#FFD78C{{/ifEquals}}
      {{#ifEquals this.category "休閒娛樂"}}#FFFFB5{{/ifEquals}}
      {{#ifEquals this.category "餐飲食品"}}#FFFF26{{/ifEquals}}
      {{#ifEquals this.category "其他支出"}}#26FF26{{/ifEquals}};">{{this.percentage}}%</div>
      <div class="category" style="display: inline;">{{this.category}}</div>
      <div class="amount">{{this.amount}}</div>
      <div class="money">$</div>
    </li>
  {{/each}}
  </ul>
</div>

<script src="/pieChart.js"></script>